# Select the template to use for creating the domain
loadTemplates()
selectTemplate('Base WebLogic Server Domain', '{{ oracle_weblogic_release }}')

# Set the listen address and listen port for the Administration Server
cd('Servers/AdminServer')
set('ListenAddress','')
set('ListenPort', 7001)

# Enable SSL on the Administration Server and set the SSL listen address and
# port
create('AdminServer','SSL')
cd('SSL/AdminServer')
set('Enabled', 'True')
set('ListenPort', 7002)

# Set the domain password for the WebLogic Server administration user
cd('/')
cd('Security/base_domain/User/{{ oracle_weblogic_domain_adminusername }}')
cmo.setPassword('{{ oracle_weblogic_domain_adminpassword }}')

# If the domain already exists, overwrite the domain
setOption('OverwriteDomain', 'true')

# write the domain and close the template
writeDomain('{{ oracle_weblogic_domains_home }}/{{ oracle_weblogic_domain_name }}')
closeTemplate()

exit()
